<html>
	<head><h2>Welcome to DevOps!</h2> </head>
	<body>
		<h1>Organization Name: {{organization_name}}</h1>
                <h1>OS: {{os}}</h1>
                <h1>Provisioned by: {{provisioner_tool}}</h1>
                <h1>Automation by: {{automation_tool}}</h1>
        </body>
</html> 
